@if (Basket.Orders.Any())
{
    <h1>@Title</h1>
    @foreach (var (pizza, pos) in Pizzas)
    {
        <PizzaItem Pizza="@pizza"
                                  ButtonTitle="Remove"
                                  ButtonClass="btn btn-danger"
                                  Selected="@(async (_)
                 => await Selected.InvokeAsync(pos))"   />
    }
    <div class="row">
        <div class="col"> Total:</div>
        <div class="col"> @TotalPrice </div>
        <div class="col"> </div>
    </div>
}